*{
    margin: 0;
    padding: 0;
}

      

.calculator{
    border: 1px solid black;
    border-radius: 15px;
    width: 30%;
    height: 40%;
    margin: 0 auto;
    position: relative;
    top: 200px;
    padding:30px;
    background-color: rgba(0, 0, 0, 0.958);
    opacity: 0.6 ;
    color: white;
    z-index: 2;
    
}
.buttons{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-left: 15px;
}


input[type=button]{
    padding: 10px;
    margin: 5px;
    width:80px;
    margin-left: 2%;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    border-radius: 10px;
    
}
input[type=text]{
    width: 83%;
    margin-left:3%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: rgb(142, 140, 141);
    color: black;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    border-radius: 10px;
}
input[type=button]:hover{
    background-color: rgb(100, 92, 99);
}
body{
   background-image:url('https://t3.ftcdn.net/jpg/02/66/34/70/360_F_266347082_qnZLppWcnm5a4OA5cGNE1amPi01lpEmV.jpg');
   background-size: cover;
   background-repeat: no-repeat; 
    
}
input[type=text]:hover{
    cursor: pointer;
    
}
